[user]
	signingKey = A3E201A737F1337C
	email = sebastian@anzr.co
	name = Sebastian Edholm
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[core]
    editor = nvim
	excludesfile = /home/sebbe/.config/git/gitignore
[rerere]
	enabled = true
[column]
	ui = auto
