[user]
	signingKey = F764ABEC0AE6C2B17E0A4D3AD9A43D7D800A69B9
	email = sebastian@anzr.co
	name = Sebastian Edholm
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[core]
    editor = nvim
[rerere]
	enabled = true
[column]
	ui = auto
